name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - '**'

jobs:
  shellcheck:
    name: Run shellcheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1.9
  test:
    name: Test verify-changed-files
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-latest, macos-latest, macos-11, ubuntu-18.04, windows-2022, windows-2016]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test sql file has no changes
        uses: ./
        id: changed_files_not_expected
        with:
          files: |
            test/new.txt
            test/new.sql
            test/new/.(sql|txt)
      - name: Display changed files
        if: steps.changed_files_not_expected.outputs.files_changed == 'true'
        run: |
          echo "Changed files: ${{ steps.changed_files_not_expected.outputs.changed_files }}"
      - name: Verify Changes
        if: steps.changed_files_not_expected.outputs.files_changed == 'true'
        run: |
          echo "Changes found: (Not expected)"
          exit 1
      - name: Make changes
        run: |
          echo "323442424" >> test/new.txt
      - name: Test test/new.txt file has changes
        uses: ./
        id: changed_files_expected
        with:
          files: |
            test/new.txt
            test/new.sql
            test/new/.(sql|txt)
      - name: Display changed files
        if: steps.changed_files_expected.outputs.files_changed == 'true'
        run: |
          echo "Changed files: ${{ steps.changed_files_expected.outputs.changed_files }}"
      - name: Verify Changes to test/new.txt
        if: steps.changed_files_expected.outputs.files_changed != 'true'
        run: |
          echo "No Changes found: (Not expected)"
          exit 1
      - name: Generate an unstaged file
        run: |
          echo "New changes" > unstaged.txt
      - name: Test unstaged file has changes
        uses: ./
        id: changed_unstaged_files_expected
        with:
          files: |
            unstaged.txt
      - name: Display unstaged changed files
        if: steps.changed_unstaged_files_expected.outputs.files_changed == 'true'
        run: |
          echo "Changed files: ${{ steps.changed_unstaged_files_expected.outputs.changed_files }}"
      - name: Verify Changes to unstaged.txt
        if: steps.changed_unstaged_files_expected.outputs.files_changed != 'true'
        run: |
          echo "No Changes found: (Not expected)"
          exit 1
