name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test verify-changed-files
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
      - name: Test sql file has no changes
        uses: ./
        id: changed_files_non_expected
        with:
          files: |
            test/new.txt
            test/new.sql
            test/new/.(sql|txt)
      - name: Verify Changes
        if: steps.changed_files_non_expected.outputs.files_changed == 'true'
        run: |
          echo "Changes found: (Not expected)"
          exit 1
      - name: Make changes
        run: |
          echo "323442424" >> test/new.txt
      - name: Test sql file has no changes
        uses: ./
        id: changed_files_expected
        with:
          files: |
            test/new.txt
            test/new.sql
            test/new/.(sql|txt)
      - name: Verify Changes to test/new.txt
        run: |
          if: steps.changed_files_expected.outputs.files_changed != 'true'
          echo "No Changes found: (Not expected)"
          exit 1
